build/
build-win32/
build-win32-x64/
build-x86_64/
build-win32-x64-builtin/
build-win32-x86-builtin/
build-x86_64-builtin/
builddir/
meson-logs/
meson-private/
compile_commands.json
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.lib
*.pdb
.DS_Store
.idea/
.vscode/
states/
.cache/
tmp
experiments/output/*
!experiments/output/.gitkeep
experiments/apps/**/*.trace.txt
*.log
**/__pycache__
